# Datasets
train/
tiny-imagenet-200/
data/
dataset/
datasets/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt

# VS Code
.vscode/

# IntelliJ
.idea/

# Mac
.DS_Store
