version: '3.8'

services:
  server:
    build:
      context: ..
      dockerfile: docker/Dockerfile
    image: tagfcl:latest
    container_name: tagfcl_server
    command: python src/start_server.py
    # ports:
    #   - "8080:8080" # Flower Server Port
    volumes:
      - ../src:/app/src
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: 1
              capabilities: [ gpu ]

  client1:
    build:
      context: ..
      dockerfile: docker/Dockerfile
    image: tagfcl:latest
    container_name: tagfcl_client_1
    command: python src/start_client.py --server_address server:8080 --client_id 0
    depends_on:
      - server
    volumes:
      - ../src:/app/src
      - ../data:/app/data # Mount data volume
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: 1
              capabilities: [ gpu ]

  client2:
    build:
      context: ..
      dockerfile: docker/Dockerfile
    image: tagfcl:latest
    container_name: tagfcl_client_2
    command: python src/start_client.py --server_address server:8080 --client_id 1
    depends_on:
      - server
    volumes:
      - ../src:/app/src
      - ../data:/app/data
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: 1
              capabilities: [ gpu ]
