version: '3.8'

services:
  server:
    build:
      context: ..
      dockerfile: docker/Dockerfile
    image: tagfcl:latest
    container_name: tagfcl_server
    command: python src/start_server.py --num_clients ${NUM_CLIENTS:-2}
    ports:
      - "8080:8080"
    volumes:
      - ../src:/app/src
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: 1
              capabilities: [gpu]
