services:
  server:
    build:
      context: ..
      dockerfile: docker/Dockerfile
    image: fedrep-yolo:latest
    container_name: fedrep_server
    command: >
      python src/start_server.py
        --num_clients ${NUM_CLIENTS:-2}
        --epochs_global ${ROUNDS:-10}
        --tasks_global ${TASKS:-1}
        --tasks_epoch ${TASKS_EPOCH:-3}
        --exp_name ${EXP_NAME:-docker_run}
    ports:
      - "8080:8080"
    volumes:
      - ../src:/app/src
      - /etc/localtime:/etc/localtime:ro
      - /etc/timezone:/etc/timezone:ro
    shm_size: '2gb'
    ipc: host
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: 1
              capabilities: [gpu]
        limits:
          memory: 4G
